body {
    font-family: Roboto, sans-serif;
}

table {
	table-layout: fixed;
	width: 950px;
}

th, td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
	font-size: 12px;
	cursor: pointer;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	user-select: none;
}

.cell {
    position: relative;
}

.btn-answer {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 50%;
    border: 1px solid #FFF;
    cursor: pointer;
}

.btn-answer:focus {
    outline: none;
}

.hidden {
	/* visibility: hidden; */
	visibility: hidden;
}

.btn-unhide {
	user-select: none;
	width: 60px;
}

.expandable-text {
  width: 962px;
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  border: solid;
  border-width: thin;
  background-color: #EEE;
  padding: 10px;
}

#read-more-link {
  display: inline-block;
  margin-top: 5px;
}

.littlebox {
  display: inline-block;
  width: 10px;
  height: 10px;
}
