body {
    font-family: Roboto, sans-serif;
}

table {
	table-layout: fixed;
	width: 950px;
}

th, td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
	font-size: 12px;
	cursor: pointer;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	user-select: none;
}

.cell {
    position: relative;
}

.btn-answer {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 50%;
    border: 1px solid #FFF;
    cursor: pointer;
}

.btn-answer:focus {
    outline: none;
}

.hidden {
	/* visibility: hidden; */
	visibility: hidden;
}

.btn-unhide {
	user-select: none;
}
