body {
    font-family: Roboto, sans-serif;
}

table {
	table-layout: fixed;
	width: 950px;
}

th, td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #F7F7F7;
	font-size: 12px;
	cursor: pointer;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	user-select: none;
	background: #EEE;
	border-radius: 5px;
}

.cell {
    position: relative;
}

.btn-answer {
    position: relative;
    z-index: 2;
    width: 50%;
    height: 50%;
    border: 1px solid #FFF;
    cursor: pointer;
    border-radius: 5px;
}

.btn-answer:focus {
    outline: none;
}

.hidden {
	visibility: hidden;
}

.btn-unhide {
	user-select: none;
	width: 60px;
	border: 1px solid #F7F7F7;
	border-radius: 5px;
	background: #EEE;
}

.expandable-text {
  width: 967px;
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  border: 1px solid #F7F7F7;
  border-width: thin;
  background: #EEE;
  padding: 10px;
  border-radius: 5px;
}

#read-more-link {
  display: inline-block;
  margin-top: 5px;
}

.littlebox {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.highlight-atk {
  background-color: cyan;
  font-weight: bold;
}

.highlight-def {
  background-color: yellow;
  font-weight: bold;
}
