<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Type Interactions</title>
    <!-- Meta -->
    <meta name="description" content="Test your Pokémon knowledge with this interactive Pokémon Type Effectiveness grid quiz! Determine the effectiveness of attacking against defending types. Explore the grid, change colors and discover if your move is super effective, not very effective, or have no effect" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@DarthJahus" />
    <meta name="twitter:creator" content="@DarthJahus" />
    <meta property="og:image" content="{{ url_for('static', filename='Charizard-AI.jpg') }}" />
    <meta property="og:image:secure_url" content="{{ url_for('static', filename='Charizard-AI.jpg') }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="An AI-generated photography of the Pokémon Charizard flying over an icy lake. By day, with sunlight." />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:label1" content="Created by" />
    <meta name="twitter:data1" content="Jahus" />
    <!-- endMeta -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>
<body>
    <h1>Pokémon Type Effectiveness grid quiz</h1>
    <div class="expandable-text">
        Welcome to this simple Pokémon Type Effectiveness grid quiz! Put your Pokémon battle skills to the test. In the world of Pokémon, understanding type effectiveness is crucial for building a winning team and strategizing your moves. With this interactive grid, you'll have the opportunity to showcase your knowledge by determining the impact of attacking types against defending types.
        <div id="more" style="display: none;">
            <br/>The grid is organized with offensive types listed as rows and defensive types as columns.<br/>
            Click on each cell in the grid and choose the corresponding color to indicate the effectiveness of the attack.<br/>
            <ul>
                <li><span class="littlebox" style="background-color: green;"></span> Green signifies normal damage (×1)</li>
                <li><span class="littlebox" style="background-color: red;"></span> Red represents super effectiveness (×2)</li>
                <li><span class="littlebox" style="background-color: blue;"></span> Blue indicates not very effectiveness (×½)</li>
                <li><span class="littlebox" style="background-color: grey;"></span> Grey represents no effect (×0)</li>
            </ul>
            Challenge yourself to complete the Pokémon Type Effectiveness grid and see if you can accurately predict how different types interact with one another. Whether you're a seasoned Pokémon trainer or just starting your journey, this quiz offers a an interactive way to test your knowledge.<br/>
            <h2>Support or contribute to the "project"</h2>
            <ul>
                <li>If you want to show some support, check out <a href="https://twitch.tv/SayuraPlays" title="Sayura is streaming Pokémon games on Twitch">Sayura Plays Twitch channel</a>, subscribe or share it. She streams Pokémon, in French, weekly. Oh, and check out my <a href="https://jahus.net" title="Jahus' blog">blog</a>… for stuff.</li>
                <li>Want to contribute? First, know that this is no project. You can fork the code on <a href="https://github.com/DarthJahus/PokemonTypesQuiz" title="Pokémon Types Quiz on GitHub, by DarthJahus">GitHub</a> and even ask for a pull request. You can also host the "app". The code has no licence.</li>
            </ul>
        </div>
    </div>
    <a href="#" id="read-more-link" onclick="toggleText(event)">Read more</a>
    <table>
        <tr>
            <th></th>
            {% for defensive_type in pokemon_types %}
                <th>{{ defensive_type }}</th>
            {% endfor %}
        </tr>
        {% for offensive_type in pokemon_types %}
            <tr>
                <th>{{ offensive_type }}</th>
                {% for defensive_type in pokemon_types %}
                  <td id="cell-{{ offensive_type }}-{{ defensive_type }}" class="cell" tabindex="-1">
					<button id="{{ offensive_type }}-{{ defensive_type }}"
							style="background-color: {{ type_effectiveness[offensive_type][loop.index0] }};"
							class="btn-answer {{ offensive_type }} hidden"
                            tabindex="-1">
					</button>
				  </td>
                {% endfor %}
                <td><button id="unhide-{{ offensive_type }}" class="btn-unhide">Unhide</button></td>
            </tr>
        {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
